.contactcontainer{
    background: #e7e4e4;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.contacts{
    font-size:7rem;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    padding:8%;
    color: #e7e4e4;
}
.projimgcontainer{
    position: absolute;
    top:20%;
    right: 35%;
}
.listcontainer{
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    
    
}
.projectitem{
    margin: 2rem;
}
.projecttype{
    color: rgba(256,256,256,.5);
    font-size: 1.2rem;
}

@media (max-width:800px){
    .work{
        font-size: 5rem;
    }
}
@media (max-width:570px){
    .contacts{
        font-size: 3.7rem;
        padding-top: 25%;
        padding:30% 0 8% 2%;
    }
}
@media (max-width:450px){
    .projimgcontainer{
        top:50%;
        right:50%;
    }
}