.skillscontainer{
    background: black;
    position: relative;
    width: 100%;
    height:fit-content;
}
.skillscenterbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    justify-content: center;
}
.techstack{
    color: rgba(252, 246, 244, 0.171);
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size:7rem;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
    padding:8%;
}
.Hi{
    border: 1px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skillimage{
    width: 50px;
}
.skillimage img{
    width: 100%;
}
.skillname{
    text-transform: uppercase;
    font-weight: 500;
}
@media (max-width:1095px){
    /* .Hi{
        width: 130px;
        height: 130px;
    }
    .skillimage{
        width: 40px;
    } */
    .skillscenterbox{
        width: 70%;
    }
}
@media (max-width:780px){
    .techstack{
        font-size:4rem;
    }
    .Hi{
        width: 130px;
        height: 130px;
    }
    .skillimage{
        width: 40px;
    }
    .skillscenterbox{
        width: 80%;
    }
}
@media (max-width:600px){
    .Hi{
        width: 125px;
        height: 125px;
    }
    .skillimage{
        width: 35px;
    }
    .skillscenterbox{
        width: 100%;
    }
}
@media (max-width:470px){
    .Hi{
        width: 115px;
        height: 115px;
    }
    .skillimage{
        width: 25px;
    }
    .skillscenterbox{
        width: 100%;
    }
}
@media (max-width:440px){
    .Hi{
        width: 100px;
        height: 100px;
        margin: .75rem;
    }
    .skillname{
        font-size: .9rem;
    }
}
